
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="ml-5 mr-5">
    <h1>Receitas</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            {% for field in form %}
            <div class="col-12 col-xl-6">
                <b>{{ field.label }}</b>
                <br /> 
                {{ field }}
                <br />
                {{ field.errors }}
            </div>
            {% endfor %}
        </div>
        <button class="btn btn-success" type="submit">Salvar</button>
    </form>
</div>
{% endblock %}