{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- ##### Contact Form Area Start ##### -->
<div class="contact-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h3>Edite aqui sua receita, {{ user.username }} :)</h3>
                </div>
            </div>
        </div>
        {% include 'partials/_alertas.html'%}
        <div class="row">
            <div class="col-12">
            <p>Todos os campos são obrigatórios</p>
                <div class="contact-form-area">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            {% for field in form %}
                            <div class="col-12 col-xl-6">
                                <b>{{ field.label }}</b>
                                <br /> 
                                {{ field }}
                                <br />
                                {{ field.errors }}
                            </div>
                            {% endfor %}
                        </div>
                        <button class="btn btn-success" type="submit">Salvar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}