{% extends 'base.html' %}
{% load static %}
{% load receita_extras %}
{% block content %}

<section class="best-receipe-area">
    <div class="container"> 
        <form method="get" >
            <div class="row">
                <div class="col-2">
                    <button class="btn btn-success form-control" type="submit">Buscar</button>
                </div>
                {% for filtro in filter.form %}
                    <div>
                        {{ filtro }}
                    </div>
                {% endfor %}
                
            </div>
        </form>
        <div class="row">
            {% if object_list  %}
                {% for receita in object_list %}
                <!-- Single Best Receipe Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-best-receipe-area mb-30">
                        {% if receita.fot_receita == '' %}
                            <img src="{% static 'img/bg-img/foto_receita.png' %}" alt="">
                        {% else %}
                            <img src="{{ receita.fot_receita.url }}" alt="">
                        {% endif %}
                        <div class="receipe-content">
                            <a href="{% url 'receitas:receita-detalhes' pk=receita.pk %}">
                                <h5>{{ receita.nome_receita }}</h5>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
            {% endif %}
        </div>
    </div>
</section>
{% include 'includes/pagination.html' %}

{% endblock %}